<div id="lecturer-dashboard">
  <%= link_to "Go To courses", courses_path%>

<div class="container">
<h2>Lecturer Subjects</h2>
  <% @lecturer_subjects.each do |lecturer_subject| %>
    <div class="col-md-3 col-sm-4 col-xs-12"> 
          <div class="subject.title">
          <%=link_to "#{lecturer_subject.subject.try(:title)}", lecturer_subject_path(lecturer_subject)%> 
          </div>
    </div>
  <%end%>
</div> 
</div>          
 