
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container" style="margin-top: 30px;">
  <% @lecturer_subjects.each do |lecturer_subject| %>
  <div class="panel panel-default col col-lg-3 " style="margin-right:10px; height: 200px;width: 360px;">
    <div class="panel-heading" style="height: 115px"><h3> <%=link_to "#{lecturer_subject.subject.try(:title)}", lecturer_subject_path(lecturer_subject)%></h3>
      <%= link_to "#{lecturer_subject.subject.subject_code}", lecturer_subject_path(lecturer_subject) %>
     </div>
    <div class="panel-body"><h4> <%= lecturer_subject.subject.subject_code%> </h4></div>
  </div>
 <%end%> 
</div>
</body>
</html>

         
 