<div id="student-dashboard">
  <%= link_to "Go To courses", courses_path%>

<div class="container">
<h2>Student Subjects</h2>
  <div>
  <% @courses.each do |course|%>
  <div>
      <%= course.title%>
    </div>
      <div>
    <% @subjects.each do |subject| %>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <% if subject.course_id == course.id%> 
            <div class="subject.title">
              <%=link_to "#{subject.title}", student_subjects_path(subject)%> 
            </div>
            <%end%>
          </div>
        <%end%>
    </div>          
    <%end%>
    </div>
</div>
