<div id="student-dashboard">
  <%= link_to "Go To courses", courses_path%>

<div class="container">
<h2>Student Subjects</h2>
  

  <div>
    <% @student_subjects.each do |student_subject| %>
      <div class="col-md-3 col-sm-4 col-xs-12"> 
        <div class="subject.title">
          <%=link_to "#{student_subject.subject.try(:title)}", student_subject_path(student_subject)%> 
        </div>
      </div>
    <%end%>
  </div>          
</div>
</div>
