<h1>Subjects</h1>
<div class="well">
  <%= link_to "New Subject", new_course_subject_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Subject Title</th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.title %></td>
        <td>
          <%= link_to "Edit", edit_course_subject_path(subject.course, subject), class: "btn btn-default" %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>