<div id="backimage">
  <img src="/assets/subject.jpg" style="width:100%; height: 300px;">
</div>

<div class = "well" style="margin-left: 40%; background: none; border: none;">
  <ul class="nav nav-pills" style="">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</div>
