<div class="student-subjects">
  <div class="well">
    <% @subjects.each do |subject| %>
    <ul class="well" style="background-color: #ffffff;">
      <li><%= link_to "#{subject.title}", student_subjects_path%></li>
    </ul>

    <% end %>
  </div>
</div>
